<div class="jumbotron">
    <div class="container text-center">
        <div class="page-header text-center">
            <h1>About Polarkeeper</h1>
        </div>
        <p>Polarkeeper is developed to fill the gap between <a href="https://polarpersonaltrainer.com/">Polar Personal Trainer</a> and <a href="http://runkeeper.com">Runkeeper</a>. <br/><br/>
        </p>
        <div class="page-header text-center">
            <h2>For who?</h2>
        </div>
        <p>People using their Polar devices with Polar Personal Trainer simply can't synchronise their data with the services they would like. We try to make that happen for them. Simply connect to your Runkeeper account and start synchronising!</p>
        <br/>
        <div class="page-header text-center">
            <h2>Future?</h2>
        </div>
        <p>We are currently developing a system to synchronise your services in an even better way. By looking at your Runkeeper statistics, we will try and match the activities done with your Polar Personal Trainer. In that manner, we will we able to give you an exact overview of uploaded and non-uploaded activities. </p>
        <p>Later on, we plan on integrating with more services (Strava, Nike, Endomondo, ...).</p>
        <br />
        <div class="page-header text-center">
            <h2>Contact</h2>
        </div>
        <p>If you've encountered a bug or would like te give us some feedback, please send us an email on <a href="mailto:info@polarkeeper.me" target="_blank">info@polarkeeper.me</a>. We're trying to get back to you as soon as possible.</p>
        <p>If you want to just thank me for creating this service, contact me <a href="https://twitter.com/vdbbjorn" target="_blank">@vdbbjorn</a> on Twitter!</p>
    </div>
</div>

